colorama
dmba
ipykernel
ipython
ipython-genutils
jupyterlab
kiwisolver
MarkupSafe
matplotlib
notebook
numpy
pandas
Pillow
protobuf
pyexcel
pyexcel-ods
pyexcel-xlsx
pyexcel-xls
tabulate
Pygments
pytz
requests
scikit-learn
scipy
seaborn
six
statsmodels
tornado

